body {font-size: 12pt; font-family: verdana, arial;}
label {display: block;}
h1, h2, h3, h4{font-family: verdana, arial}
h1 {font-size: 1.1em; margin-top: 0px;}

label{display: inline; font-weight: normal;}

header{color: #373748; font-weight: bold; font-size: 1.5em; margin-bottom: 20px;}

.cte-container{margin: 0px auto; max-width: 920px; margin-top: 20px; padding: 10px;}
.cte-content{padding: 0px; border: 0px solid #CCC; border-bottom: 0px; background-color: #FFF; margin-bottom: 20px;}
.cte-content label {display: block; margin-bottom: 10px;}

#program{margin-bottom: 20px;}

.background-color-no{background-color: #FFDDDD;}
.background-color-yes{background-color: #DDFFDD;}

.cte {font-weight: bold; color: #EE0000;}
.overone {color: #008800;}
.do-it-no {background-color: #EE8888;}
.do-it-no div{text-align: center; vertical-align: middle}
.do-it-yes{background-color: #88EE88;}

.table input{max-width: 150px;}
.table td{border-top: 0px; vertical-align: middle; border-bottom: 5px solid #FFF;}
.table th{font-size: 10pt;}

#overall-stats{margin-bottom: 20px; border: 1px solid #CCC; padding: 20px; color: #555; box-shadow: 2px 2px 2px #888;}
#overall-stats input{max-width: 75px;}

#decision{font-weight: bold;}
.decision-yes{color: #008800;}
.decision-no{color: #DD0000;}

#footer{text-align: center; margin: 0px auto; margin-top: 30px; font-size: 0.8em;}
#footer ul {list-style-type: none; margin: 0xp; padding: 0px;}
#footer ul li{margin-bottom: 5px;}